#container{
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
button{
    background-color: rgb(55, 55, 179);
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
button:hover{
background-color: rgb(117, 117, 183);
}
button:active{
    background-color: rgb(117, 117, 183);
}

input{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width:150px;
}
#diceResult{
    margin: 25px;
}